/* paricing card */
.card-service-name{
    background:linear-gradient(225deg, #FFA301 0%, #F44 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.tab-btn{
    background: linear-gradient(225deg, #FFA301 0%, #F44 80%);
}
.card-head{
    background: url("../../asstes/pricingshap.png") no-repeat left bottom, linear-gradient(180deg, #FFA301 0%, #F44 100%);
}