/* paricing card */
.card-service-name{
    background:linear-gradient(225deg, #FFA301 0%, #F44 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.tab-btn{
    background: linear-gradient(to left bottom, #ffa201 0%, rgba(255, 68, 68, 0.967) 100%);
}
.card-head{
    background: url("../../asstes/pricingshap.png") no-repeat left bottom, linear-gradient(180deg, #FFA301 0%, #F44 100%);
    background-size: 100%;
}
/* tabs-main border */
.tabs-main{
    border-image: linear-gradient(to right , hsla(0, 100%, 63%, 0.553), #ffa2014f) 30;
}